<div class="container-fluid header-section">
<div class="row">
<img src="assets/images/apple-business-computer.jpg" class="img-fluid header-img">
</div>
</div>

<section class="resumetemplate">
<div class="container">
  <div class="row headerSection p-4 card-style animated slideInUp">
    <div class="col-sm-7">
      <h4>Saurabh Banerjee</h4>
      <h6>Full Stack Developer</h6>
      <div class="infos">
        <ul class="profile-list">
            <li class="clearfix">
                <span class="title"><i class="fas fa-envelope"></i>
                </span>
                <span class="content">sjb.9s1saurabh@gmail.com</span>
            </li>
            <li class="clearfix">
                <span class="title"><i class="fas fa-globe"></i></span>
                <span class="content">yourpersonalwebsite.com</span>
            </li>
            <li class="clearfix">
                <span class="title"><i class="fab fa-skype"></i></span>
                <span class="content">yourusername@skype.com</span>
            </li>
            <li class="clearfix">
                <span class="title"><i class="fas fa-phone-volume"></i></span>
                <span class="content">+91 9432274415</span>
            </li>
            <li class="clearfix">
                <span class="title"><i class="fas fa-map-marker"></i>
                </span>
                <span class="content">Hyderabad, Telengana</span>
            </li>

        </ul>
    </div>
    <div class="links pt-4">
      <!-- FACEBOOK-->
      <a href="#" id="first_one" class="social btn-floating" style="padding:10px 16px;"><i class="fab fa-facebook-f"></i></a>
      <!-- TWITTER-->
      <a href="#" class="social btn-floating" style="background:#2196F3;padding:10px 12px;"><i class="fab fa-twitter"></i></a>
      <!-- GOOGLE+-->
      <a href="#" class="social btn-floating" style="background:#F44336;padding:10px 11px;"><i class="fab fa-google-plus-g"></i></a>
      <!-- LINKEDIN-->
      <a href="#" class="social btn-floating" style="background:#1565C0;padding:10px 14px;"><i class="fab fa-linkedin-in"></i></a>
  </div>
    </div>

    <div class="class-sm-5 profile-image">
      <div id="profile" class="float-right">
        <img src="assets/images/profile1.jpg" class="img-fluid profile-img">
        <div class="slant"></div>

        <!--EMPTY PLUS BUTTON-->
        

        <!--VIDEO PLAY BUTTON-->
        <!--<div id="button-holder" class="btn-holder">
            <div id="play-btn" class="btn-floating btn-large btn-play">
                <i id="icon-play" class="material-icons">play_arrow</i>
            </div>
        </div>-->
    </div>
    </div>

  </div>
  </div>
</section>
  <section class="about-section animated">
  <div class="container">
  <div class="row about-card card-style p-4">
    <div class="col-sm-12">
        <div class="card-content">
          <p>Hello! I’m John Doe. Senior Web Developer with over 13 years of experience specializing in front end development. Experienced with all stages of the development cycle for dynamic web projects.Having an in-depth knowledge including advanced HTML5, CSS, CSS3, SASS, LESS, JSON, XML, Java, JavaScript, JQuery, Angular JS. Strong background in management and leadership</p>
        </div>
        <div id="about-btn" class="card-action">
            <div class="about-btn">
                <!-- DOWNLOAD CV BUTTON -->
                <a href="#" class="waves-effect btn-style">Download CV</a>
                <!-- CONTACT BUTTON -->
                <a href="#contact" class="waves-effect btn-style">Contact Me</a>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="education-heading animated">
    <div class="container">
        <div class="row">
          <div class="col-sm-12">
              <div class="card-content text-center">
                <h4>
                  <img src="assets/images/scholarship.png" class="img-fluid card-style p-1"><span class="pl-3">EDUCATION</span></h4>
              </div>
            </div>
          </div>
        </div>
</section>

<section class="education">
    <div class="container">
        <div class="row">
          <div class="col-sm-12">
              <div class="timeline">
                  <div class="container-timeline left animated bounceInRight">
                    <div class="content-timeline">
                      <h2>2017</h2>
                      <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
                    </div>
                  </div>
                  <div class="container-timeline right animated bounceInLeft">
                    <div class="content-timeline">
                      <h2>2016</h2>
                      <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
                    </div>
                  </div>
                  <div class="container-timeline left animated bounceInRight">
                    <div class="content-timeline">
                      <h2>2015</h2>
                      <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
                    </div>
                  </div>
                  <div class="container-timeline right animated bounceInLeft">
                    <div class="content-timeline">
                      <h2>2012</h2>
                      <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
                    </div>
                  </div>
                  <div class="container-timeline left animated bounceInRight">
                    <div class="content-timeline">
                      <h2>2011</h2>
                      <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
                    </div>
                  </div>
                  <div class="container-timeline right animated bounceInLeft">
                    <div class="content-timeline">
                      <h2>2007</h2>
                      <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
</section>

<section class="education-heading animated">
  <div class="container">
      <div class="row">
        <div class="col-sm-12">
            <div class="card-content text-center">
              <h4>
                <img src="assets/images/sliders.png" class="img-fluid card-style p-1"><span class="pl-3">SKILLS</span></h4>
            </div>
          </div>
        </div>
      </div>
</section>


<section class="skills-section animated">
  <div class="container">
      <div class="row p-4">
        <div class="col-sm-4">
          <p class="text-center">Professional</p>
          
            <span>HTML5</span>
            <span class="float-right">90%</span>
            <div class="progress-section">
          <div class="progress">
            <div class="progress-bar" style="width:90%"></div>
          </div>
        </div>
        <span>HTML5</span>
            <span class="float-right">90%</span>
            <div class="progress-section">
          <div class="progress">
            <div class="progress-bar" style="width:90%"></div>
          </div>
        </div>  
        <span>HTML5</span>
            <span class="float-right">90%</span>
            <div class="progress-section">
          <div class="progress">
            <div class="progress-bar" style="width:90%"></div>
          </div>
        </div>
        </div>
        
        <div class="col-sm-4">
          <p class="text-center">Personal</p>


          <span>HTML5</span>
          <span class="float-right">90%</span>
          <div class="progress-section">
        <div class="progress">
          <div class="progress-bar" style="width:90%"></div>
        </div>
      </div>
      <span>HTML5</span>
          <span class="float-right">90%</span>
          <div class="progress-section">
        <div class="progress">
          <div class="progress-bar" style="width:90%"></div>
        </div>
      </div>  
      <span>HTML5</span>
          <span class="float-right">90%</span>
          <div class="progress-section">
        <div class="progress">
          <div class="progress-bar" style="width:90%"></div>
        </div>
      </div>
          
        </div>
        <div class="col-sm-4">
          <p class="text-center">Software</p>


          <span>HTML5</span>
          <span class="float-right">90%</span>
          <div class="progress-section">
        <div class="progress">
          <div class="progress-bar" style="width:90%"></div>
        </div>
      </div>
      <span>HTML5</span>
          <span class="float-right">90%</span>
          <div class="progress-section">
        <div class="progress">
          <div class="progress-bar" style="width:90%"></div>
        </div>
      </div>  
      <span>HTML5</span>
          <span class="float-right">90%</span>
          <div class="progress-section">
        <div class="progress">
          <div class="progress-bar" style="width:90%"></div>
        </div>
      </div>
        </div>
        </div>
      </div>
</section>

<section class="education-heading animated">
    <div class="container">
        <div class="row">
          <div class="col-sm-12">
              <div class="card-content text-center">
                <h4>
                  <img src="assets/images/layers.png" class="img-fluid card-style p-1"><span class="pl-3">EXPERIENCE</span></h4>
              </div>
            </div>
          </div>
        </div>
  </section>


  <section class="education">
    <div class="container">
        <div class="row">
          <div class="col-sm-12">
              <div class="timeline">
                  <div class="container-timeline left animated">
                    <div class="content-timeline">
                      <h2>2017</h2>
                      <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
                    </div>
                  </div>
                  <div class="container-timeline right animated">
                    <div class="content-timeline">
                      <h2>2016</h2>
                      <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
                    </div>
                  </div>
                  <div class="container-timeline left animated">
                    <div class="content-timeline">
                      <h2>2015</h2>
                      <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
                    </div>
                  </div>
                  <div class="container-timeline right animated">
                    <div class="content-timeline">
                      <h2>2012</h2>
                      <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
                    </div>
                  </div>
                  <div class="container-timeline left animated">
                    <div class="content-timeline">
                      <h2>2011</h2>
                      <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
                    </div>
                  </div>
                  <div class="container-timeline right animated">
                    <div class="content-timeline">
                      <h2>2007</h2>
                      <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
</section>

<section class="education-heading animated">
  <div class="container">
      <div class="row">
        <div class="col-sm-12">
            <div class="card-content text-center">
              <h4>
                <img src="assets/images/briefcase.png" class="img-fluid card-style p-1"><span class="pl-3">PROJECTS</span></h4>
            </div>
          </div>
        </div>
      </div>
</section>

<section class="portofolio-section animated">
  <div class="container">
    <div class="row">
    <div class="col-sm-8">
      <img src="assets/images/book-computer-design.jpg" class="img-fluid mb-2">
    </div>
    <div class="col-sm-4">
      <img src="assets/images/apple-business-computer.jpg" class="img-fluid mb-3">
      <img src="assets/images/box-business-celebrate.jpg" class="img-fluid mb-2">
      
    </div>
  </div>
  
    
  </div>
</section>


<section class="education-heading animated">
  <div class="container">
      <div class="row">
        <div class="col-sm-12">
            <div class="card-content text-center">
              <h4>
                <img src="assets/images/like.png" class="img-fluid card-style p-1"><span class="pl-3">INTEREST</span></h4>
            </div>
          </div>
        </div>
      </div>
</section>


<section class="about-section animated">
  <div class="container">
  <div class="row about-card card-style">
    <div class="col-sm-12">
        <div class="card-content p-4">
          <p>Hello! I’m John Doe. Senior Web Developer with over 13 years of experience specializing in front end development. Experienced with all stages of the development cycle for dynamic web projects.Having an in-depth knowledge including advanced HTML5, CSS, CSS3, SASS, LESS, JSON, XML, Java, JavaScript, JQuery, Angular JS. Strong background in management and leadership</p>
        </div>
        <div class="interest-section">
          <div class="row" style="border-top:1px solid #ddd;">
            <div class="col-xs-4 col-sm-2 text-white" style="background:#06a763;">
              <div class="text-center pt-4 pb-4">
                <i class="fas fa-music fa-lg"></i>
                <p style="margin-bottom:0;">Music</p>
              </div>
            </div>
            <div class="col-xs-4 col-sm-2">
                <div class="text-center pt-4 pb-4">
                  <i class="fas fa-music fa-lg"></i>
                  <p style="margin-bottom:0;">Music</p>
                </div>
              </div>
              <div class="col-xs-4 col-sm-2 text-white" style="background:#06a763;">
                  <div class="text-center pt-4 pb-4">
                    <i class="fas fa-music fa-lg"></i>
                    <p style="margin-bottom:0;">Music</p>
                  </div>
                </div>
              <div class="col-xs-4 col-sm-2">
                    <div class="text-center pt-4 pb-4">
                      <i class="fas fa-music fa-lg"></i>
                      <p style="margin-bottom:0;">Music</p>
                    </div>
                  </div>
              <div class="col-xs-4 col-sm-2 text-white" style="background:#06a763;">
                      <div class="text-center pt-4 pb-4">
                        <i class="fas fa-music fa-lg"></i>
                        <p style="margin-bottom:0;">Music</p>
                      </div>
              </div>
              <div class="col-xs-4 col-sm-2">
                        <div class="text-center pt-4 pb-4">
                          <i class="fas fa-music fa-lg"></i>
                          <p style="margin-bottom:0;">Music</p>
                        </div>
                      </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section class="education-heading">
  <div class="container">
      <div class="row">
        <div class="col-sm-12">
            <div class="card-content text-center">
              <h4>
                <img src="assets/images/deal.png" class="img-fluid card-style p-1"><span class="pl-3">TESTIMONIALS</span></h4>
            </div>
          </div>
        </div>
      </div>
</section> -->

<section class="education-heading animated" id="contact">
  <div class="container">
      <div class="row">
        <div class="col-sm-12">
            <div class="card-content text-center">
              <h4>
                <img src="assets/images/contact.png" class="img-fluid card-style p-1"><span class="pl-3">CONTACT</span></h4>
            </div>
          </div>
        </div>
      </div>
</section>

<section class="contact-section animated">
    <div class="container">
    <div class="row ">
    
     <div class="col-sm-5 mb-4">
        <div class="card-style p-4 ">
        <form>
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name">
          </div>
          <div class="form-group">
              <label for="subject">Subject</label>
              <input type="text" class="form-control" id="subject">
            </div>
          <div class="form-group">
            <label for="email">Password:</label>
            <input type="email" class="form-control" id="email">
          </div>
          <div class="form-group">
              <label for="comment">Message</label>
              <textarea class="form-control" rows="5" id="comment"></textarea>
            </div>            
          <button type="submit" class="btn btn-primary">Send</button>
        </form>
     </div>
     </div>
     <div class="col-sm-7 mb-4">
       <div class="card-style p-4">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d243479.9554018825!2d78.4312733477722!3d17.5373571399614!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb84ad48255d29%3A0x410841a999b3433!2sSecunderabad%2C+Telangana!5e0!3m2!1sen!2sin!4v1524336427434" width="100%" height="470" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
     </div>
      </div>
    </div>
  </section>


